<div class="m-center padder-sm sign-box">
  <div class="m-b-sm">
    <h3 class="txt-center">Waiting for you for a long time.</h3>
  </div>
  <div class="txt-center m-b-xl">
    <span>Sign up for free API document!</span>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "m-b-xl", "v-on:submit.prevent" => "trySubmit" }) do |f| %>
    <div :class="{ 'input-group': true, 'm-b': true, 'has-error': errors.has('username') }" data-toggle="tooltip" data-placement="left" v-bind:data-original-title="errors.first('username')" v-toggle-tooltip="errors_changed.username">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <%= f.text_field :username, autofocus: true, class: "form-control input-lg", "v-model" => "form.username", placeholder: "Username" %>
    </div>
    <div :class="{ 'input-group': true, 'm-b': true, 'has-error': errors.has('email') }" data-toggle="tooltip" data-placement="left" v-bind:data-original-title="errors.first('email')" v-toggle-tooltip="errors_changed.email">
      <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
      <%= f.email_field :email, class: "form-control input-lg", "v-model" => "form.email", placeholder: "Email" %>
    </div>
    <div :class="{ 'input-group': true, 'm-b': true, 'has-error': errors.has('password') }" data-toggle="tooltip" data-placement="left" v-bind:data-original-title="errors.first('password')" v-toggle-tooltip="errors_changed.password">
      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg", "v-model" => "form.password", placeholder: "Password(#{@minimum_password_length} characters minimum)" %>
    </div>
    <div class="m-b">
      <%= devise_error_messages! %>
      <%= f.submit "Create your account", ":class" => "{'btn-lg': true, 'btn-success': !loading && !disabledSubmit, 'w-full': true, disabled: disabledSubmit, 'bg-loading': loading}".html_safe, "v-bind:disabled" => "disabledSubmit" %>
    </div>
  <% end %>
  <div class="m-b-md txt-center">
    By creating an account, you agree to our <a href="#">Terms</a>
  </div>
  <div class="m-b-md txt-center">
    Already have an account? <a href="#" @click.prevent="setPath('<%= new_user_session_path %>', 'sign')">Sign in</a>
  </div>
</div>