<% content_for :assets do %>
<%= webpack_javascript_include_tag 'owners' %>
<!-- <%= webpack_stylesheet_link_tag 'owners' %> -->
<% end %>

<% content_for :modals do %>
<div class="modal fade modal-full" id="normal-modal" tabindex="-1" role="dialog">
  <button class="btn btn-rounded btn-lg btn-icon btn-default btn-close" data-dismiss="modal">
    <i class="fa fa-times"></i>
  </button>
  <div class="grid-over h-full">
    <div class="dp-table w-full h-full item">
      <div class="cell w-half v-middle wrapper-md" v-if="modal != 0">
        <component :is="modal" v-on:projectcreated="projectCreated"></component>
      </div>
    </div>
  </div>
</div>
<% end %>

<% content_for :content do %>
<div class="app-content-body ">
  <div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
      <div class="bg-green dker b-b wrapper-md">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <h1 class="m-n font-thin h3"><%= params[:owner_name] %></h1>
            <small class="text-muted">Welcome to angulr application</small>
          </div>
          <div class="col-sm-6 col-xs-12 text-right">
            <% if can?(:create, Project.new(owner: @owner)) %>
            <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#normal-modal" @click="openPage('<%= new_project_path %>', 'modal')">Create Project</button>
            <% end %>
          </div>
        </div>
      </div>

      <div class="wrapper-md">
      <% if can?(:create, Project.new(owner: @owner)) %>
        <projects-list :lastest="lastest" :owner="'<%= @owner.username %>'"></projects-list>
      <% else %>
        <div class="row">
        <% @projects.each do |project| %>
          <div class="col-md-3 col-xs-12 col-sm-4">
            <%= render partial: "projects/panel", locals: { project: project } %>
          </div>
        <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>