<% resources.each do |res| %>
<% parameters = res.the_parameters(change) %>
<% responses = res.the_responses(change) %>
<div id="<%= res.slug %>" class="panel panel-res" data-id="<%= res.id %>">
  <div class="panel-heading clearfix">
    <div class="h3 m-t-xs m-b-sm">
      <span><%= document.summary %></span>
      <span class="sep">/</span>
      <span class="res-summary"><%= res.summary %></span>
    </div>
    <span class="label <%= method_color(res.method) %> pull-left m-r-sm res-method"><%= res.method %></span>
    <span class="label pull-left"><%= colour_path(res.path, parameters).html_safe %></span>
    <button class="btn m-b-xs btn-xs btn-warning pull-right" v-showmodal="{id: '#resource-modal', data: {slug: '<%= res.slug %>', tab: 'comments', document_name: '<%= document.name %>'}}">
      <i class="fa fa-comments m-r-xs"></i><%= res.comments.count %>
    </button>
    <button class="btn m-b-xs m-r-xs btn-xs btn-info pull-right" v-showmodal="{id: '#resource-modal', data: {slug: '<%= res.slug %>', tab: 'console', document_name: '<%= document.name %>'}}">
      <i class="fa fa-terminal m-r-xs"></i>
    </button>
  </div>
  <div class="padder">
    <div class="line b-b m-t-none"></div>
    <div class="m-b"><%= markdown(res.raw_description(change)) %></div>
    <%= render partial: "documents/parameters", locals: { parameters: parameters, change: change } %>
    <%= render partial: "documents/responses", locals: { responses: responses, change: change } %>
  </div>
</div>
<% end %>