<div class="modal-dialog" role="document" v-modal="success">
  <h2 class="txt-center text-primary-lter">Create Project</h2>
  <%= form_for(:project, url: projects_path(@project), html: { class: "m-b-xl", "v-on:submit.prevent" => "trySubmit" }) do |f| %>
    <div class="form-inline m-b">
      <div class="form-group">
        <label class="text-primary">Owner</label>
        <%= f.hidden_field :owner_type %>
        <%= f.hidden_field :owner_id %>
        <div class="input-group-btn dropdown">
          <button type="button" class="btn btn-default r-2x dropdown-toggle" data-toggle="dropdown" v-dropdown>
            <span class="m-r-xs"><%= current_user.username %></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-left">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
      <div class="form-group m-l-xs m-r-xs">
        <label class="block">&nbsp;</label>
        <span class="text-xl text-white"><b>/</b></span>
      </div>
      <div :class="{ 'form-group': true, 'has-error': errors.has('name') }" data-toggle="tooltip" data-placement="right" v-bind:data-original-title="errors.first('name')" v-toggle-tooltip="errors_changed.name">
        <label class="text-primary">Project name</label>
        <%= f.text_field :name, autofocus: true, class: "form-control block w-lg", "v-model" => "form.name" %>
      </div>
    </div>
    <div :class="{ 'form-group': true, 'has-error': errors.has('summary') }" data-toggle="tooltip" data-placement="bottom" v-bind:data-original-title="errors.first('summary')" v-toggle-tooltip="errors_changed.summary">
      <label class="text-primary">Summary</label>
      <%= f.text_field :summary, class: "form-control", "v-model" => "form.summary" %>
    </div>
    <div class="alert alert-danger alert-validate" v-if="alert">
      <b>Oh snap!</b> {{msg}}
    </div>
    <div class="radio">
      <label class="i-checks">
        <%= f.radio_button :clazz, :jpublic %>
        <i class="lg"></i>
        <div class="pull-right m-l-sm">
          <span class="pull-left m-r text-xxl w-1x">
            <i class="fa fa-unlock"></i>
          </span>
          <span class="clear">
            <b class="text-primary">Public</b>
            <small class="text-muted clear text-ellipsis">Anyone can see this project.</small>
          </span>
        </div>
      </label>
    </div>
    <div class="radio">
      <label class="i-checks">
        <%= f.radio_button :clazz, :jprivate %>
        <i class="lg"></i>
        <div class="pull-right m-l-sm">
          <span class="pull-left m-r text-xxl w-1x">
            <i class="fa fa-lock"></i>
          </span>
          <span class="clear">
            <b class="text-primary">Private</b>
            <small class="text-muted clear text-ellipsis">You choose who can see this project.</small>
          </span>
        </div>
      </label>
    </div>
    <div class="m-b">
      <%= f.submit "Create Project", ":class" => "{'btn-lg': true, 'btn-success': !loading && !disabledSubmit, disabled: disabledSubmit, 'pull-left': true }".html_safe, "v-bind:disabled" => "disabledSubmit" %>
      <div :class="{ 'bg-loading': loading, 'w-xs': true, 'h-xxs': true, 'pull-left': true, 'm-l-md': true }"></div>
    </div>
  <% end %>
</div>