<% content_for :assets do %>
<%= webpack_javascript_include_tag 'projects' %>
<%= webpack_stylesheet_link_tag 'projects' %>
<% end %>

<% content_for :content do %>
<div class="app-content-body app-content-full h-full">
  <div class="hbox hbox-auto-xs">
    <!-- column -->
    <div class="col w-xl b-r">
      <div class="vbox">
        <div class="b-b">
          <div class="font-thin padder-sm padder-v bg-dark lt">
            <input class="w-full bg-dark lt b-none" type="text" placeholder="Input and search">
          </div>
        </div>

        <div class="row-row">
          <div id="nav-cata" class="cell">
            <div class="cell-inner">
              <!-- <div id="app">
                <div v-for="doc in documents">
                  <document-group :resources="doc.resources" :summary="doc.summary"></document-group>
                </div>
              </div> -->

              <ul class="nav nav-cata bg-dark dker">
              <% @change.parts(@project, :documents).each do |doc| %>
                <li class="heading">
                  <a href="<%= @project.name %>/<%= doc.name %>" data-target="#<%= doc.name %>" v-smoothscroll="'#scroll-container'"><%= doc.summary %></a>
                  <ul class="nav list-group alt">
                    <% @change.parts(doc, :resources).each do |res| %>
                    <li class="list-group-item lt">
                      <a class="media" href="<%= @project.name %>/<%= res.slug %>" data-target="#<%= res.slug %>" v-smoothscroll="'#scroll-container'">
                        <span class="label <%= method_color(res.method) %> pull-left"><%= res.method.size > 4 ? res.method[0..2] : res.method %></span>
                        <div class="media-body">
                          <h5><%= res.summary %></h5>
                          <small class="text-muted"><%= res.path %></small>
                        </div>
                      </a>
                    </li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
              </ul>
<!-- 
              <div class="panel panel-doc list m-b-none no-radius">
                <div class="panel-heading">Contacts</div>
                <ul class="list-group alt">
                  <li class="list-group-item">
                    <div class="media">
                      <span class="label label-success pull-left">GET</span>
                      <a href="#" class="more pull-right m-t-sm">
                        <i class="fa fa-ellipsis-h"></i>
                      </a>
                      <div class="media-body">
                        <a href="#">
                          <h5>Stranger tag class list</h5>
                          <small class="text-muted">/api/v1/stranger_tag_classes</small>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <span class="label label-warning pull-left">POST</span>
                      <a href="#" class="more pull-right m-t-sm">
                        <i class="fa fa-ellipsis-h"></i>
                      </a>
                      <div class="media-body">
                        <a href="#">
                          <h5>Send business card</h5>
                          <small class="text-muted">/api/v1/business_cards</small>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <span class="label label-success pull-left">GET</span>
                      <a href="#" class="more pull-right m-t-sm">
                        <i class="fa fa-ellipsis-h"></i>
                      </a>
                      <div class="media-body">
                        <a href="#">
                          <h5>Browse business card</h5>
                          <small class="text-muted">/api/v1/business_cards</small>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <span class="label label-primary pull-left">PUT</span>
                      <a href="#" class="more pull-right m-t-sm">
                        <i class="fa fa-ellipsis-h"></i>
                      </a>
                      <div class="media-body">
                        <a href="#">
                          <h5>Dispose business card</h5>
                          <small class="text-muted">/api/v1/business_cards/:id</small>
                        </a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="panel panel-doc list m-b-none no-radius">
                <div class="panel-heading">IM</div>
                <ul class="list-group alt">
                  <li class="list-group-item">
                    <div class="media">
                      <span class="label label-success pull-left">GET</span>
                      <a href="#" class="more pull-right m-t-sm">
                        <i class="fa fa-ellipsis-h"></i>
                      </a>
                      <div class="media-body">
                        <a href="#">
                          <h5>Get sign</h5>
                          <small class="text-muted">/api/v1/im/sign</small>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <span class="label label-success pull-left">GET</span>
                      <a href="#" class="more pull-right m-t-sm">
                        <i class="fa fa-ellipsis-h"></i>
                      </a>
                      <div class="media-body">
                        <a href="#">
                          <h5>List conferences</h5>
                          <small class="text-muted">/api/v1/im/conferences</small>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <span class="label label-warning pull-left">POST</span>
                      <a href="#" class="more pull-right m-t-sm">
                        <i class="fa fa-ellipsis-h"></i>
                      </a>
                      <div class="media-body">
                        <a href="#">
                          <h5>Create conference</h5>
                          <small class="text-muted">/api/v1/im/conferences</small>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <span class="label label-primary pull-left">PUT</span>
                      <a href="#" class="more pull-right m-t-sm">
                        <i class="fa fa-ellipsis-h"></i>
                      </a>
                      <div class="media-body">
                        <a href="#">
                          <h5>Update conference</h5>
                          <small class="text-muted">/api/v1/im/conferences/:conv_id</small>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <span class="label label-danger pull-left">DEL</span>
                      <a href="#" class="more pull-right m-t-sm">
                        <i class="fa fa-ellipsis-h"></i>
                      </a>
                      <div class="media-body">
                        <a href="#">
                          <h5>Remove conference</h5>
                          <small class="text-muted">/api/v1/im/conferences/:conv_id</small>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <span class="label label-success pull-left">GET</span>
                      <a href="#" class="more pull-right m-t-sm">
                        <i class="fa fa-ellipsis-h"></i>
                      </a>
                      <div class="media-body">
                        <a href="#">
                          <h5>Detail conference</h5>
                          <small class="text-muted">/api/v1/im/conferences/:conv_id/detail</small>
                        </a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="panel panel-doc list m-b-none no-radius">
                <div class="panel-heading">
                  Connection
                </div>
                <ul class="list-group alt">
                  <li class="list-group-item">
                    <div class="media">
                      <span class="label label-success pull-left">GET</span>
                      <div class="pull-right text-success m-t-sm">
                        <i class="fa fa-circle"></i>
                      </div>
                      <div class="media-body">
                        <a href="#">
                          <h5>Chris Fox</h5>
                          <small class="text-muted">about 2 minutes ago</small>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <span class="label label-warning pull-left">POST</span>
                      <div class="pull-right text-muted m-t-sm">
                        <i class="fa fa-circle"></i>
                      </div>
                      <div class="media-body">
                        <a href="#">
                          <h5>Amanda Conlan</h5>
                          <small class="text-muted">about 2 minutes ago</small>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <span class="label label-danger pull-left">DEL</span>
                      <div class="pull-right text-warning m-t-sm">
                        <i class="fa fa-circle"></i>
                      </div>
                      <div class="media-body">
                        <a href="#">
                          <h5>Dan Doorack</h5>
                          <small class="text-muted">about 2 minutes ago</small>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <span class="label label-primary pull-left">PUT</span>
                      <div class="pull-right text-danger m-t-sm">
                        <i class="fa fa-circle"></i>
                      </div>
                      <div class="media-body">
                        <a href="#">
                          <h5>Lauren Taylor</h5>
                          <small class="text-muted">about 2 minutes ago</small>
                        </a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="panel panel-doc list m-b-none no-radius">
                <div class="panel-heading">
                  Connection
                </div>
                <ul class="list-group alt">
                  <li class="list-group-item">
                    <div class="media">
                      <span class="label label-success pull-left">GET</span>
                      <div class="pull-right text-success m-t-sm">
                        <i class="fa fa-circle"></i>
                      </div>
                      <div class="media-body">
                        <a href="#">
                          <h5>Chris Fox</h5>
                          <small class="text-muted">about 2 minutes ago</small>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <span class="label label-warning pull-left">POST</span>
                      <div class="pull-right text-muted m-t-sm">
                        <i class="fa fa-circle"></i>
                      </div>
                      <div class="media-body">
                        <a href="#">
                          <h5>Amanda Conlan</h5>
                          <small class="text-muted">about 2 minutes ago</small>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <span class="label label-danger pull-left">DEL</span>
                      <div class="pull-right text-warning m-t-sm">
                        <i class="fa fa-circle"></i>
                      </div>
                      <div class="media-body">
                        <a href="#">
                          <h5>Dan DoorackDan DoorackDan DoorackDan DoorackDan DoorackDan DoorackDan DoorackDan DoorackDan Doorack</h5>
                          <small class="text-muted">about 2 minutes ago</small>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <span class="label label-primary pull-left">PUT</span>
                      <div class="pull-right text-danger m-t-sm">
                        <i class="fa fa-circle"></i>
                      </div>
                      <div class="media-body">
                        <a href="#">
                          <h5>Lauren Taylor</h5>
                          <small class="text-muted">about 2 minutes ago</small>
                        </a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
 -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /column -->

    <!-- column -->
    <div class="col">
      <div class="vbox">
        <div class="row-row">
          <div id='scroll-container' class="cell" v-scrollspy="{target: '#nav-cata', offset: 50}">
            <div>
              <% @change.parts(@project, :documents).each do |doc| %>
              <div id="<%= doc.name %>" class="panel panel-doc m-b-none no-radius">
                <div class="panel-heading"><h2><%= doc.summary %></h2></div>
                <div class="panel-body">
                  <%= markdown(@change.parts(doc, :descriptions).map(&:content).join("\n")) %>
                </div>
              </div>
              <% @change.parts(doc, :resources).each do |res| %>
              <% parameters = @change.parts(res, :parameters) %>
              <div id="<%= res.slug %>" class="panel panel-res">
                <div class="panel-heading bg-green dk" v-sticky="{ offset_top: 50, container: '#scroll-container' }">
                  <div class="clearfix">
                    <div class="clear">
                      <div class="h3 m-t-xs m-b-sm">
                        <span><%= doc.summary %></span>
                        <span class="sep">/</span>
                        <span><%= res.summary %></span>
                        <i class="fa fa-circle text-success pull-right text-xs m-t-sm"></i>
                      </div>
                      <span class="label <%= method_color(res.method) %> pull-left m-r-sm"><%= res.method %></span>
                      <span class="label pull-left"><%= colour_path(res.path, parameters).html_safe %></span>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="wrapper bg-light">
                    <div class="panel-body">
                      <%= markdown(@change.parts(res, :descriptions).map(&:content).join("\n")) %>
                    </div>
                  </div>

                  <div class="panel panel-default bg-dark no-radius no-border">
                    <div class="panel-heading dker">
                      <span class="label bg-danger pull-right m-t-xs">4 left</span>
                      <h4>Parameters</h4>
                    </div>
                    <table class="table table-striped m-b-none">
                      <tbody>
                        <% parameters.each do |param| %>
                        <tr>
                          <td class="<%= location_color(param.location) %>">
                            <i class="fa fa-lv"></i>
                            <span><%= param.name %></span>
                            <% if param.required %>
                              <i class="fa fa-circle text-success pull-right text-xxs m-t-sm"></i>
                            <% end %>
                          </td>
                          <td>
                            <b><%= param.summary %></b><br/>
                            <%= markdown(@change.parts(param, :descriptions).map(&:content).join("\n")) %>
                          </td>
                          <td><%= param.data_type %><% if param.array %>[]<% end %></td>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>

                  <div class="panel panel-default bg-dark no-radius no-border">
                    <div class="panel-heading dker">
                      <span class="label bg-danger pull-right m-t-xs">4 left</span>
                      <h4>Responses</h4>
                    </div>
                    <table class="table table-striped m-b-none">
                      <tbody>
                        <% @change.parts(res, :responses).each do |resp| %>
                        <tr class="resp-lv<%= resp.ancestor.to_s.split('.').size %>">
                          <td><i class="fa fa-lv"></i><span><%= resp.name %></span></td>
                          <td>
                            <b><%= resp.summary %></b><br/>
                            <%= markdown(@change.parts(resp, :descriptions).map(&:content).join("\n")) %>
                          </td>
                          <td><%= resp.data_type %><% if resp.array %>[]<% end %></td>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
              <% end %>
              <% end %>

              <div class="panel panel-doc m-b-none no-radius">
                <div class="panel-heading">
                  <h2>Contacts</h2>
                </div>
                <div class="panel-body">
                  <p>You can pass a block to devise_for that will add any routes defined in the block to Devise's list of known actions. This is important if you add a custom action to a controller that overrides an out of the box Devise controller. For example:<p/>
                  <p>You can explicitly pass the name of the method which provides access to the enumeration mapping as a value of enum, or you can simply set it to true. In the latter case AASM will try to use pluralized column name to access possible enum states.<p/>
                </div>
              </div>

              <div class="panel panel-res bg-green">
                <div class="panel-heading dker">
                  <div class="clearfix">
                    <div class="clear">
                      <div class="h3 m-t-xs m-b-sm">
                        <a href="#">Contacts</a>
                        <span class="sep">/</span>
                        Send business card
                        <i class="fa fa-circle text-success pull-right text-xs m-t-sm"></i>
                      </div>
                      <span class="label label-warning pull-left m-r-sm">POST</span>
                      <span class="label label-default pull-left">/api/v1/business_cards</span>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="wrapper res-desc dk">
                    <p>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.<p/>
                    <p>There are a few easy ways to quickly get started with Bootstrap, each one appealing to a different skill level and use case. Read through to see what suits your particular needs.<p/>
                  </div>

                  <!-- <h4 class="padder">Parameters</h4> -->
                  <!-- <div class="wrapper"> -->
                  <h4 class="padder">Parameters</h4>
                    <!-- <div class="panel panel-io no-radius"> -->
                      <!-- <div class="panel-heading">Parameters</div> -->
                      
                  <table class="table table-striped m-b-none">
                    <thead>
                      <tr>
                        <th class="text-center">Field</th>
                        <th>Type</th>                    
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>                    
                        <td class="required">token</td>
                        <td>String</td>
                        <td>Let's say you have an User model configured to use authenticatable, confirmable and recoverable modules. After creating this inside your routes:</td>
                      </tr>
                      <tr>                    
                        <td class="required">tag_name</td>
                        <td>String</td>
                        <td>Following Rails 3 routes DSL</td>
                      </tr>
                      <tr>                    
                        <td>user_ids</td>
                        <td>Number</td>
                        <td>This method is going to look inside your User model and create the needed routes:</td>
                      </tr>
                      <tr>                    
                        <td>stranger_ids</td>
                        <td>Number</td>
                        <td>You can configure your routes with some options:</td>
                      </tr>
                      <tr>                    
                        <td>cluster_ids</td>
                        <td>Number</td>
                        <td>The only aspect not affect by the router configuration is the model name. The model name can be explicitly set via the :class_name option.</td>
                      </tr>
                    </tbody>
                  </table>
                    <!-- </div> -->
                  <!-- </div> -->

                  <!-- <div class="wrapper"> -->
                  <h4 class="padder">Respones</h4>
                    <!-- <div class="panel panel-io no-radius"> -->
                      <!-- <div class="panel-heading">Respones</div> -->

                  <table class="table table-striped m-b-none">
                    <thead>
                      <tr>
                        <th class="text-center">Field</th>
                        <th>Type</th>                    
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>                    
                        <td class="required">token</td>
                        <td>String</td>
                        <td>Let's say you have an User model configured to use authenticatable, confirmable and recoverable modules. After creating this inside your routes:</td>
                      </tr>
                      <tr>                    
                        <td class="required">tag_name</td>
                        <td>String</td>
                        <td>Following Rails 3 routes DSL</td>
                      </tr>
                      <tr>                    
                        <td>user_ids</td>
                        <td>Number</td>
                        <td>This method is going to look inside your User model and create the needed routes:</td>
                      </tr>
                      <tr>                    
                        <td>stranger_ids</td>
                        <td>Number</td>
                        <td>You can configure your routes with some options:</td>
                      </tr>
                      <tr>                    
                        <td>cluster_ids</td>
                        <td>Number</td>
                        <td>The only aspect not affect by the router configuration is the model name. The model name can be explicitly set via the :class_name option.</td>
                      </tr>
                    </tbody>
                  </table>
                    <!-- </div> -->
                  <!-- </div> -->

                </div>

              </div>

              <div class="panel panel-res m-b-none">
                <div class="panel-heading">
                  <div class="clearfix">
                    <div class="clear">
                      <div class="h3 m-t-xs m-b-sm">
                        <a href="#">Contacts</a>
                        <span class="sep">/</span>
                        Dispose business card
                        <i class="fa fa-circle text-success pull-right text-xs m-t-sm"></i>
                      </div>
                      <span class="label label-primary pull-left m-r-sm">PUT</span>
                      <span class="label label-default pull-left">/api/v1/business_cards/:id</span>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="wrapper res-desc">
                    <p>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.<p/>
                  </div>

                  <h4 class="padder">Parameters</h4>
                  <table class="table table-striped m-b-none">
                    <thead>
                      <tr>
                        <th class="text-center">Field</th>
                        <th>Type</th>                    
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>                    
                        <td class="required">token</td>
                        <td>String</td>
                        <td>Let's say you have an User model configured to use authenticatable, confirmable and recoverable modules. After creating this inside your routes:</td>
                      </tr>
                      <tr>                    
                        <td class="required">id</td>
                        <td>Number</td>
                        <td>Card ID </td>
                      </tr>
                      <tr>                    
                        <td class="required">event</td>
                        <td>String</td>
                        <td>This method is going to look inside your User model and create the needed routes:</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /column -->

    <!-- column -->
    <div class="col w-md lter b-l">
      <div class="vbox">
        <div class="wrapper b-b b-light">
          <div class="font-thin h4">Header</div>
          <small class="text-muted">with fluid height</small>
        </div>
        <div class="row-row">
          <div class="cell">
            <div class="cell-inner">
              <div class="wrapper-md">
                This is the scrollable content
                <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
                You got the bottom
              </div>
            </div>
          </div>
        </div>
        <div class="padder b-t b-light text-center">
          <div class="m-xs">Footer with fluid height</div>
        </div>
      </div>
    </div>
    <!-- /column -->
  </div>
</div>
<% end %>