<% content_for :assets do %>
<%= webpack_javascript_include_tag 'projects' %>
<%= webpack_stylesheet_link_tag 'projects' %>
<% end %>

<% content_for :modals do %>
<resource-modal>
  <div class="dp-none comment-init">
    <a class="pull-left thumb-sm avatar m-l-n-md">
      <img src="/uploads/user/sm_iune12pxp-mimoaqfvv-jodiwb0sc-bdm0reu0d.png" class="img-circle" alt="...">
    </a>
    <div class="m-l-xl panel b-a bg-paper">
      <div class="panel-heading pos-rlt b-b b-light">
        <span class="arrow left"></span>
        <a href>John smith</a>
        <label class="label bg-info m-l-xs">Editor</label> 
        <span class="text-muted m-l-sm pull-right">
          <i class="fa fa-clock-o"></i>
          Just now
        </span>
      </div>
      <div class="panel-body">
        <div>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</div>
        <div class="m-t-sm">
          <a href ui-toggle-class class="btn btn-default btn-xs active">
            <i class="fa fa-star-o text-muted text"></i>
            <i class="fa fa-star text-danger text-active"></i> 
            Like
          </a>
          <a href class="btn btn-default btn-xs">
            <i class="fa fa-mail-reply text-muted"></i> Reply
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="dp-none comment-init m-l-xl">
    <a class="pull-left thumb-sm avatar">
      <img src="/uploads/user/sm_cztvmqtbd-acujcs5uu-9sgonxmk8-rs5m7gawq-nagnwult3.png" alt="...">
    </a>          
    <div class="m-l-xxxl panel b-a bg-paper">
      <div class="panel-heading pos-rlt">
        <span class="arrow left pull-up"></span>
        <span class="text-muted m-l-sm pull-right">
          <i class="fa fa-clock-o"></i>
          10m ago
        </span>
        <a href>Mika Sam</a> 
        Report this comment is helpful                           
      </div>
    </div>
  </div>
  <div class="dp-none comment-init">
    <a class="pull-left thumb-sm avatar m-l-n-md"><img src="/uploads/user/sm_ae2tw5i88-rkbwt9npa-lyieltlc3-ek4a0pba0-bn6o3zgcu.png" alt="..."></a>          
    <div class="m-l-xl panel b-a bg-paper">
      <div class="panel-heading pos-rlt b-b b-light">
        <span class="arrow left"></span>
        <a href>Peter</a>
        <label class="label bg-primary m-l-xs">Vip</label> 
        <span class="text-muted m-l-sm pull-right">
          <i class="fa fa-clock-o"></i>
          2hs ago
        </span>
      </div>
      <div class="panel-body">
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
        </blockquote>
        <div>Lorem ipsum dolor sit amet, consecteter adipiscing elit...</div>
        <div class="m-t-sm">
          <a href data-toggle="class" class="btn btn-default btn-xs">
            <i class="fa fa-star-o text-muted text"></i>
            <i class="fa fa-star text-danger text-active"></i> 
            Like
          </a>
          <a href class="btn btn-default btn-xs"><i class="fa fa-mail-reply text-muted"></i> Reply</a>
        </div>
      </div>
    </div>
  </div>
</resource-modal>
<% end %>

<% content_for :content do %>
<div class="app-content-body app-content-full h-full">
  <div class="hbox hbox-auto-xs">
    <!-- column -->
    <div class="col w-xl b-r">
      <div class="vbox">
        <div class="b-b">
          <div class="font-thin padder-sm padder-v bg-dark lt">
            <input class="w-full bg-dark lt b-none" type="text" placeholder="Input and search">
          </div>
        </div>

        <div class="row-row">
          <div id="nav-cata" class="cell">
            <div class="cell-inner">
              <!-- <div id="app">
                <div v-for="doc in documents">
                  <document-group :resources="doc.resources" :summary="doc.summary"></document-group>
                </div>
              </div> -->

              <ul class="nav nav-cata bg-dark dker" v-urlspy>
              <% @change.parts(@project, :documents).each do |doc| %>
                <li class="heading">
                  <a href="<%= @project.name %>/<%= doc.name %>" data-target="#<%= doc.name %>" v-smoothscroll="'#scroll-container'"><%= doc.summary %></a>
                  <ul class="nav list-group alt">
                    <% @change.parts(doc, :resources).each do |res| %>
                    <li class="list-group-item lt">
                      <a class="media" href="<%= @project.name %>/<%= res.slug %>" data-target="#<%= res.slug %>" v-smoothscroll="'#scroll-container'">
                        <span class="label <%= method_color(res.method) %> pull-left"><%= res.method.size > 4 ? res.method[0..2] : res.method %></span>
                        <div class="media-body">
                          <h5><%= res.summary %></h5>
                          <small class="text-muted"><%= res.path %></small>
                        </div>
                      </a>
                    </li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /column -->

    <!-- column -->
    <div class="col">
      <div class="vbox">
        <div class="row-row">
          <!-- 
          <div id='scroll-mark' class="cell bg-dark cell-over">
            <div class="dp-table w-full h-full item">
              <div class="cell w-half v-middle wrapper-md">
                <div class="padder-xl">
                  <div id="loading-top" class="w-sm h-xxs bg-loading panel m-center"></div>
                </div>
              </div>
            </div>
          </div>
          -->
          <% unless @hide_top %>
          <border-loading 
            :owner="'<%= params[:owner_name] %>'" 
            :project="'<%= params[:project_name] %>'" 
            :version="<%= @change.position %>" 
            :location="'top'" 
            :scroll="scroll"
            :max="max"
            v-on:documentloaded="documentLoaded"
          >
          </border-loading>
          <% end %>
          <div id='scroll-container' class="cell" v-scrollspy="{target: '#nav-cata', offset: 50, callback: scrolledTo}">
            <div>
              <document-panel
                v-for="doc of topdocs"
                :document="doc"
                :key="doc.id"
                :dir="'top'"
              >
              </document-panel>
              <div id="<%= @document.name %>" class="panel panel-doc m-b-none no-radius" v-sticky="{ offset_top: 50, container: '#scroll-container' }">
                <div class="panel-heading"><h2><%= @document.summary %></h2></div>
                <div class="panel-body">
                  <div class="wrapper"><%= markdown(@document.raw_description(@change)) %></div>
                  <%= render partial: "documents/resources", locals: { resources: @resources, document: @document, change: @change } %>
                </div>
              </div>
              <document-panel
                v-for="doc of bottomdocs"
                :document="doc"
                :key="doc.id"
                :dir="'bottom'"
              >
              </document-panel>
            </div>
          </div>
          <border-loading 
            :owner="'<%= params[:owner_name] %>'" 
            :project="'<%= params[:project_name] %>'" 
            :version="<%= @change.position %>" 
            :location="'bottom'" 
            :scroll="scroll"
            :max="max"
            v-on:documentloaded="documentLoaded"
          >
          </border-loading>
        </div>
      </div>
    </div>
    <!-- /column -->

    <!-- column -->
    <div class="col w-md lter b-l">
      <div class="vbox">
        <div class="wrapper b-b b-light">
          <div class="font-thin h4">Header</div>
          <small class="text-muted">with fluid height</small>
        </div>
        <div class="row-row">
          <div class="cell">
            <div class="cell-inner">
              <div class="wrapper-md">
                This is the scrollable content
                <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
                You got the bottom
              </div>
            </div>
          </div>
        </div>
        <div class="padder b-t b-light text-center">
          <div class="m-xs">Footer with fluid height</div>
        </div>
      </div>
    </div>
    <!-- /column -->
  </div>
</div>
<% end %>