<% content_for :assets do %>
<%= webpack_javascript_include_tag 'projects' %>
<%= webpack_stylesheet_link_tag 'projects' %>
<% end %>

<% content_for :modals do %>
<resource-modal :document="current" @needdocument="needDocument">
  <div class="dp-none comment-init">
    <a class="pull-left thumb-sm avatar m-l-n-md">
      <img src="/uploads/user/sm_iune12pxp-mimoaqfvv-jodiwb0sc-bdm0reu0d.png" class="img-circle" alt="...">
    </a>
    <div class="m-l-xl panel b-a bg-paper">
      <div class="panel-heading pos-rlt b-b b-light">
        <span class="arrow left"></span>
        <a href>John smith</a>
        <label class="label bg-info m-l-xs">Editor</label> 
        <span class="text-muted m-l-sm pull-right">
          <i class="fa fa-clock-o"></i>
          Just now
        </span>
      </div>
      <div class="panel-body">
        <div>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</div>
        <div class="m-t-sm">
          <a href ui-toggle-class class="btn btn-default btn-xs active">
            <i class="fa fa-star-o text-muted text"></i>
            <i class="fa fa-star text-danger text-active"></i>
            Like
          </a>
          <a href class="btn btn-default btn-xs">
            <i class="fa fa-mail-reply text-muted"></i> Reply
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="dp-none comment-init m-l-xl">
    <a class="pull-left thumb-sm avatar">
      <img src="/uploads/user/sm_cztvmqtbd-acujcs5uu-9sgonxmk8-rs5m7gawq-nagnwult3.png" alt="...">
    </a>          
    <div class="m-l-xxxl panel b-a bg-paper">
      <div class="panel-heading pos-rlt">
        <span class="arrow left pull-up"></span>
        <span class="text-muted m-l-sm pull-right">
          <i class="fa fa-clock-o"></i>
          10m ago
        </span>
        <a href>Mika Sam</a> 
        Report this comment is helpful                           
      </div>
    </div>
  </div>
  <div class="dp-none comment-init">
    <a class="pull-left thumb-sm avatar m-l-n-md"><img src="/uploads/user/sm_ae2tw5i88-rkbwt9npa-lyieltlc3-ek4a0pba0-bn6o3zgcu.png" alt="..."></a>          
    <div class="m-l-xl panel b-a bg-paper">
      <div class="panel-heading pos-rlt b-b b-light">
        <span class="arrow left"></span>
        <a href>Peter</a>
        <label class="label bg-primary m-l-xs">Vip</label> 
        <span class="text-muted m-l-sm pull-right">
          <i class="fa fa-clock-o"></i>
          2hs ago
        </span>
      </div>
      <div class="panel-body">
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
        </blockquote>
        <div>Lorem ipsum dolor sit amet, consecteter adipiscing elit...</div>
        <div class="m-t-sm">
          <a href data-toggle="class" class="btn btn-default btn-xs">
            <i class="fa fa-star-o text-muted text"></i>
            <i class="fa fa-star text-danger text-active"></i> 
            Like
          </a>
          <a href class="btn btn-default btn-xs"><i class="fa fa-mail-reply text-muted"></i> Reply</a>
        </div>
      </div>
    </div>
  </div>
</resource-modal>
<% end %>

<% content_for :content do %>
<div class="app-content-body">
  <div class="hbox hbox-auto-xs">
    <div class="col w-45 bg-dark">
      <div class="wrapper-md">
        <div class="h3 m-t-xs m-b-sm">
          <span><%= @owner.username %></span>
          <span class="sep">/</span>
          <span><%= @project.name %></span>
        </div>
        <small class="text-muted"><%= @project.summary %></small>
      </div>
      <documents-list :documentid="<%= @document.id %>" :documentname="document_name" @documentchanged="documentChanged">
        <% @change.parts(@project, :documents).each do |doc| %>
        <li data-id="<%= doc.id %>">
          <resources-oulline :document="current"></resources-oulline>
          <a class="doc-item" href="<%= doc.name %>">
            <small class="text-muted">version</small>
            <h5><%= doc.summary %></h5>
            <small class="text-muted"><%= doc.summary %></small>
          </a>
        </li>
        <% end %>
      </documents-list>
    </div>
    <div class="col box-s-l">
      <document-panel name="<%= @document.name %>" :document="current">
        <h2 class="m-l"><%= @document.summary %></h2>
        <div class="wrapper"><%= markdown(@document.raw_description(@change)) %></div>
        <%= render partial: "documents/resources", locals: { resources: @resources, document: @document, change: @change } %>
      </document-panel>
    </div>
  </div>
</div>
<% end %>