<% content_for :assets do %>
<%= webpack_javascript_include_tag 'projects' %>
<%= webpack_stylesheet_link_tag 'projects' %>
<% end %>

<% content_for :content do %>
<div class="app-content-body app-content-full h-full">
  <div class="hbox hbox-auto-xs">
    <!-- column -->
    <div class="col w-xl b-r">
      <div class="vbox">
        <div class="b-b">
          <div class="font-thin padder-sm padder-v bg-dark lt">
            <input class="w-full bg-dark lt b-none" type="text" placeholder="Input and search">
          </div>
        </div>

        <div class="row-row">
          <div id="nav-cata" class="cell">
            <div class="cell-inner">
              <!-- <div id="app">
                <div v-for="doc in documents">
                  <document-group :resources="doc.resources" :summary="doc.summary"></document-group>
                </div>
              </div> -->

              <ul class="nav nav-cata bg-dark dker" v-urlspy>
              <% @change.parts(@project, :documents).each do |doc| %>
                <li class="heading">
                  <a href="<%= @project.name %>/<%= doc.name %>" data-target="#<%= doc.name %>" v-smoothscroll="'#scroll-container'"><%= doc.summary %></a>
                  <ul class="nav list-group alt">
                    <% @change.parts(doc, :resources).each do |res| %>
                    <li class="list-group-item lt">
                      <a class="media" href="<%= @project.name %>/<%= res.slug %>" data-target="#<%= res.slug %>" v-smoothscroll="'#scroll-container'">
                        <span class="label <%= method_color(res.method) %> pull-left"><%= res.method.size > 4 ? res.method[0..2] : res.method %></span>
                        <div class="media-body">
                          <h5><%= res.summary %></h5>
                          <small class="text-muted"><%= res.path %></small>
                        </div>
                      </a>
                    </li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /column -->

    <!-- column -->
    <div class="col">
      <div class="vbox">
        <div class="row-row">
          <!-- 
          <div id='scroll-mark' class="cell bg-dark cell-over">
            <div class="dp-table w-full h-full item">
              <div class="cell w-half v-middle wrapper-md">
                <div class="padder-xl">
                  <div id="loading-top" class="w-sm h-xxs bg-loading panel m-center"></div>
                </div>
              </div>
            </div>
          </div>
          -->
          <border-loading 
            :owner="'<%= params[:owner_name] %>'" 
            :project="'<%= params[:project_name] %>'" 
            :version="<%= @change.position %>" 
            :location="'top'" 
            :scroll="scroll"
            :max="max"
            v-on:documentloaded="documentLoaded"
          >
          </border-loading>
          <div id='scroll-container' class="cell" v-scrollspy="{target: '#nav-cata', offset: 50, callback: scrolledTo}">
            <div>
              <document-panel
                v-for="doc of topdocs"
                :document="doc"
                :key="doc.id"
                :dir="'top'"
              >
              </document-panel>
              <div id="<%= @document.name %>" class="panel panel-doc m-b-none no-radius" v-sticky="{ offset_top: 50, container: '#scroll-container' }">
                <div class="panel-heading"><h2><%= @document.summary %></h2></div>
                <div class="panel-body">
                  <div class="wrapper"><%= markdown(@document.raw_description(@change)) %></div>
                  <%= render partial: "documents/resources", locals: { resources: @resources, document: @document, change: @change } %>
                </div>
              </div>
              <document-panel
                v-for="doc of bottomdocs"
                :document="doc"
                :key="doc.id"
                :dir="'bottom'"
              >
              </document-panel>
            </div>
          </div>
          <border-loading 
            :owner="'<%= params[:owner_name] %>'" 
            :project="'<%= params[:project_name] %>'" 
            :version="<%= @change.position %>" 
            :location="'bottom'" 
            :scroll="scroll"
            :max="max"
            v-on:documentloaded="documentLoaded"
          >
          </border-loading>
        </div>
      </div>
    </div>
    <!-- /column -->

    <!-- column -->
    <div class="col w-md lter b-l">
      <div class="vbox">
        <div class="wrapper b-b b-light">
          <div class="font-thin h4">Header</div>
          <small class="text-muted">with fluid height</small>
        </div>
        <div class="row-row">
          <div class="cell">
            <div class="cell-inner">
              <div class="wrapper-md">
                This is the scrollable content
                <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
                You got the bottom
              </div>
            </div>
          </div>
        </div>
        <div class="padder b-t b-light text-center">
          <div class="m-xs">Footer with fluid height</div>
        </div>
      </div>
    </div>
    <!-- /column -->
  </div>
</div>
<% end %>