<div class="m-center padder-sm sign-box">
  <div class="m-b-sm">
    <h3 class="txt-center">Good afternoon! Welcome back.</h3>
  </div>
  <div class="txt-center m-b-xl">
    <span>Sign into your account here:</span>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "m-b-xl", "v-on:submit.prevent" => "trySubmit" }) do |f| %>
    <div :class="{ 'input-group': true, 'm-b': true, 'has-error': errors.has('account') }" data-toggle="tooltip" data-placement="left" v-bind:data-original-title="errors.first('account')">
      <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
      <%= f.text_field :account, autofocus: true, class: "form-control input-lg", "v-model" => "form.account", placeholder: "Account" %>
    </div>
    <div :class="{ 'input-group': true, 'm-b': true, 'has-error': errors.has('password') }" data-toggle="tooltip" data-placement="left" v-bind:data-original-title="errors.first('password')">
      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg", "v-model" => "form.password", placeholder: "Password" %>
    </div>
    <div class="alert alert-danger alert-validate" v-if="alert">
      <b>Oh snap!</b> {{msg}}
    </div>
    <div class="m-b-md txt-right">
      <a href="#" v-on:click.stop="setPath('<%= new_user_password_path %>')">Forgotten password?</a>
    </div>
    <div class="m-b">
      <%= f.submit "Sign in", ":class" => "{'btn-lg': true, 'btn-success': true, 'w-full': true, disabled: disabledSubmit}".html_safe, "v-bind:disabled" => "disabledSubmit" %>
    </div>
    <% if devise_mapping.rememberable? -%>
      <div class="checkbox">
        <label class="i-checks">
          <%= f.check_box :remember_me %><i></i> Remember me
        </label>
      </div>
    <% end -%>
  <% end %>
  <div class="m-b-xl txt-center">
    <span class="divider-txt">
      <span>You can also choose:</span>
    </span>
  </div>
  <div class="row">
    <div class="col-md-6 m-b">
      <a class="btn btn-dark btn-lg btn-github w-full"><i class="fa fa-github"></i> GitHub</a>
    </div>
    <div class="col-md-6 m-b">
      <button class="btn btn-info btn-lg btn-github w-full" v-on:click.stop="setPath('<%= new_user_registration_path %>')">Sign up</button>
    </div>
  </div>
</div>