<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Apiwoods</title>
    <%= csrf_meta_tags %>
    <%= webpack_javascript_include_tag 'commons' %>
    <%= webpack_javascript_include_tag 'main' %>
    <%= webpack_stylesheet_link_tag 'main' %>
  </head>
  <body>
    <div id="app" class="app app-header-fixed app-aside-fixed">
      <%= render partial: "shared/header" %>
      <div id="content" class="app-content" role="main">
      <% if content_for?(:content) %>
        <%= yield(:content) %>
      <% end %>
      </div>
      <% unless user_signed_in? %>
        <%= render partial: "shared/sign_modal" %>
      <% end %>
      <%= yield :modals %>
    </div>
  </body>
</html>
